{{ define "header" }}
{{ partial "topnav" }}
{{ end }}

{{ define "main" }}
<main class="prose dark:prose-invert container">

    {{ if eq .CurrentSection.RelPermalink "/contests/" }}


    {{/* Layout for ALL contests */}}
    <header class="text-left mb-8 mt-20 pl-4">
        <h1 class="text-5xl mb-1">Contests | Coming Soon...</h1>
        <p class="my-0 text-gray3">...</p>
    </header>

    <div class="mx-auto w-auto h-[2px] my-12 bg-gradient-to-r from-peach3 to-peach1 rounded-full"></div>

    <ul class="grid-list justify-items-center pl-0">
        {{ range where .Pages.ByLastmod.Reverse "Params.contests" true }}
        <li class="list-none p-0">
            {{ $img := (print .RelPermalink "img/featured.webp") }}
            {{ partial "card" (dict "context" . "img" $img) }}
        </li>
        {{ end }}
    </ul>

    <header class="text-left pl-4 mb-8 mt-20">
        <h1 class="text-5xl mb-1">Vignan Challenges</h1>
        <p class="my-0 text-gray3">Vignan Challenges - Coding contests by Vignan's Institute of Information Technology,
            where students demonstrate coding and problem-solving abilities in competitive settings.</p>
    </header>

    <div class="mx-auto w-auto h-[2px] my-12 bg-gradient-to-r from-peach3 to-peach1 rounded-full"></div>

    <ul class="grid-list justify-items-center pl-0">
        {{ range where .Pages "Params.vignan-challenges" true }}
        <li class="list-none p-0">
            {{ $img := (print .RelPermalink "img/featured.webp") }}
            {{ partial "card" (dict "context" . "img" $img) }}
        </li>
        {{ end }}
    </ul>

    <header class="text-left pl-4 mb-8 mt-20">
        <h1 class="text-5xl mb-1">Practice Problems</h1>
        <p class="my-0 text-gray3">Practice problems with various approaches and solutions.</p>
    </header>

    <div class="mx-auto w-auto h-[2px] my-12 bg-gradient-to-r from-peach3 to-peach1 rounded-full"></div>

    <ul class="grid-list justify-items-center pl-0">
        {{ range where .Pages "Params.practice" true }}
        <li class="list-none p-0">
            {{ $img := (print .RelPermalink "img/featured.webp") }}
            {{ partial "card" (dict "context" . "img" $img) }}
        </li>
        {{ end }}
    </ul>


    {{ else }}
    {{/* Layout for individual course landing page */}}
    <header class="text-center my-12">
        <h1 class="text-6xl mb-0 inline-block mx-auto gradient-text">{{ .Params.title }}</h1>
        <p class="text-gray3 my-1">{{ .Params.description }}</p>
    </header>

    <div class="mx-auto w-auto h-[2px] my-12 bg-gradient-to-r from-peach3 to-peach1 rounded-full"></div>


    <!-- {{ if .Params.vimeo }}
            <div class="max-w-3xl mx-auto">
                <video-player free="true" single="true"></video-player>
            </div>
        {{ end }} -->

    {{ $author := .Site.GetPage (print "/authors/" (anchorize .Params.Author)) }}
    {{ $authorImg := (print "/authors/img/" (anchorize .Params.Author) ".jpg") }}
    <div class="flex items-center no-underline justify-center" itemprop="author" name="{{ .Params.author }}">
        <img class="w-12 h-12 rounded-full block" src="{{ $authorImg }}" alt="{{ $author.Title }} avatar" />
        <span class="flex flex-col ml-2">
            <span class="text-lg">Authored By
                <a class="no-underline text-peach1" href="/authors/{{ anchorize .Params.author }}/">{{ title
                    (.Params.authorname | default .Params.author) }}</a>
            </span>
            <span class="text-sm text-gray4">
                {{ (.Params.authorbio | default "I game. I code. Ctrl, Alt, Delight!") }}
            </span>
        </span>
    </div>

    <article class="max-w-3xl mx-auto ancor-blue">
        {{ .Content }}
    </article>


    <div class="text-center">
        <h2 class="text-5xl border-gray6 inline-block mt-24">Problems</h2>
        <div class="mx-auto w-auto h-[2px] my-12 bg-gradient-to-r from-peach3 to-peach1 rounded-full"></div>
    </div>
    <div class="flex justify-center">
        <ul class="grid-list pl-0">
            {{ range $index, $page := .Pages }}
            <a class="no-underline relative hover:scale-105 transition-transform" href="{{ .RelPermalink }}">
                <li class="max-w-sm overflow-hidden shadow-3xl bg-gray8 p-6 rounded-lg">
                    <span
                        class="absolute -top-2 -left-5 font-display leading-6 text-center text-3xl w-10 h-10 rounded-full p-2">
                        {{/* {{ printf "%02d" ( add $index 1 )}} */}}
                        {{ $page.Params.emoji }}
                    </span>
                    <h5><span class="gradient-text mb-0">{{ printf "%02d" ( add $index 1 )}}</span> {{ $page.Title }}
                    </h5>
                    <p class="text-gray3">{{ $page.Description }}</p>
                </li>
            </a>
            {{ end }}
        </ul>
    </div>
    {{ end }}
</main>
{{ end }}

{{ define "footer" }}
{{ partial "footer" }}
{{ end }}