{{ define "header" }}
{{ partial "topnav" }}
{{ end }}


{{ define "main" }}
{{ $activeRelPermalink := .RelPermalink }}

<main class="container flex flex-col-reverse md:flex-row">
	<!-- Progress tracker -->
	

	<!-- Navigation Buttons -->
	<navbar-toggle>
		<!-- Lessons -->
		<ul class="pl-8 md:pl-0 sticky top-0 overflow-auto scrollbar mr-4 pb-10 pr-4 min-w-[300px]" id="sidebar">
			{{ range .Parent.Pages.ByWeight }}

			<!-- Chapter -->
			{{ if isset .Params "topic_start" }}
			<li class="flex flex-row py-2 mt-4 mb-2 px-1 mr-5 border-b-2 border-peach1">
				<i class="mr-2 not-italic">{{ .Params.emoji }}</i>
				<h3 id="chapters" class="text-gray3">{{ .Params.topic_start }}</h3>
			</li>
			{{ end}}

			<!-- Lesson tile -->
			<li >
				<a class="text-gray4 hover:text-gray1 align-middle"
					href="{{ .Permalink }}">
					
					
					<!-- <complete-icon free="{{ .Params.free }}" route="{{ .RelPermalink }}"></complete-icon> -->
					
					<div class="p-1 pb-2 flex items-center {{ if eq $activeRelPermalink .RelPermalink }}active-chapter{{ end }}">

						<span class="mr-auto text-lg pr-2 inline-block align-middle ">
							{{ .Title }}
						</span>

						{{ if eq $activeRelPermalink .RelPermalink }}
						<div id="activeChapter" class="mr-2 ">←</div>
						{{ else }}
						<span class="text-xs bg-black bg-opacity-10 py-1 px-2">{{ .Params.reading_time }}</span>
						{{ end }}
					</div>
				</a>
			</li>
			{{ end }}
		</ul>

	</navbar-toggle>

	<article class="prose dark:prose-invert pt-1 mx-auto px-3 md:px-8 min-w-0 max-w-none w-full">
		<nav class="flex items-center justify-between py-2 px-4 bg-gray8 bg-opacity-30 shadow-lg mb-6 rounded-2xl">
			<div class="flex items-center">
				{{with .NextInSection}}
				<a class="flex flex-col justify-between btn btn-transparent rounded-2xl" href="{{.RelPermalink}}" title="previous page">
					<svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 24 24" width="16" height="16">
						<path d="M11,23.94L.89,14.13C.31,13.55,0,12.79,0,11.99,0,11.19,.31,10.43,.88,9.87h0S11,.06,11,.06V6.99h13v10H11v6.95" fill="#f1f1f1" />
					</svg>
					<sub class="py-2">prev</sub>
				</a>
				{{end}}
			</div>
		
			<div class="flex items-center justify-center">
				<a class="flex flex-col justify-between btn btn-transparent rounded-2xl" href="{{.Parent.RelPermalink}}" title="back to contest">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="16px" height="16px">
						<g>
							<path fill="#ffbd03" d="M256,319.841c-35.346,0-64,28.654-64,64v128h128v-128C320,348.495,291.346,319.841,256,319.841z"/>
							<g>
								<path fill="#ffbd03" d="M362.667,383.841v128H448c35.346,0,64-28.654,64-64V253.26c0.005-11.083-4.302-21.733-12.011-29.696l-181.29-195.99    c-31.988-34.61-85.976-36.735-120.586-4.747c-1.644,1.52-3.228,3.103-4.747,4.747L12.395,223.5    C4.453,231.496-0.003,242.31,0,253.58v194.261c0,35.346,28.654,64,64,64h85.333v-128c0.399-58.172,47.366-105.676,104.073-107.044    C312.01,275.383,362.22,323.696,362.667,383.841z"/>
								<path fill="#ffbd03" d="M256,319.841c-35.346,0-64,28.654-64,64v128h128v-128C320,348.495,291.346,319.841,256,319.841z"/>
							</g>
						</g>
					</svg>
					<sub class="py-2">home</sub>
				</a>
			</div>
		
			<div class="flex items-center">
				{{with .PrevInSection}}
				<a class="flex flex-col justify-between btn btn-transparent rounded-2xl" href="{{.RelPermalink}}" title="next page">
					<svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 24 24" width="16" height="16">
						<path d="M13,23.94v-6.93H0V7.01H13V.06l10.11,9.82c.58,.58,.89,1.33,.89,2.13s-.31,1.56-.88,2.13h0s-10.11,9.8-10.11,9.8" fill="#04d085" />
					</svg>
					<sub class="py-2">next</sub>
				</a>
				{{end}}
			</div>
		</nav>	

		<header class="border-b-2 border-dashed border-gray6 mb-6">
			<h1>
				{{ .Params.emoji }}
				<span class="gradient-text inline-block mb-0">{{ .Title }}</span>
			</h1>
			<p class="text-sm mt-1 text-gray4">{{ .Description }}</p>
		</header>

		<section>
			{{ .Content }}
		</section>

		<div class="mx-auto w-auto h-[2px] my-12 bg-gradient-to-r from-peach3 to-peach1 rounded-full"></div>

	</article>

	
</main>
{{ end }}

{{ define "footer" }}
{{ partial "footer" }}
{{ end }}