{{ $img := print .Permalink "img/featured.png" }}

{{ if not (fileExists (print .RelPermalink "img/featured.png")) }}
    {{ $img = "/img/default-cover.png" }}
{{ end }} 

{{ $description := .Description | default .Summary }}

{{ $type := .Type | default "articles" }}

<title>
    {{ if or (eq .Type "articles") (eq .Type "snippets") }}
        {{ .Page.Title }} {{ with .Params.author }} | by {{ . }}{{ else }}{{ " " }}{{ end }} {{ with .Lastmod.Format "Jan 2, 2006"}} | {{ . }}{{ else }}{{ " " }}{{ end }} | SERVER X 101
    {{ else if eq .Type "contests" }}
        {{ .Page.Title }} {{ with .Params.contest }} | {{ . }}{{ else }}{{ " " }}{{ end }} | by {{ .Params.author }} {{ with .Lastmod.Format "Jan 2, 2006"}} | {{ . }}{{ else }}{{ " " }}{{ end }} | SERVER X 101
    {{ else }}
        {{ .Page.Title }}
    {{ end }}
</title>
<link rel="canonical" href="{{ .Permalink | absURL }}" />
<meta name="description" content="{{ $description }}">
<meta name="image" content="{{ $img | absURL }}">


<meta property="og:title" content="{{ .Title }} | {{ .Params.author }}" />
<meta property="og:type" content="{{ $type }}" />
<meta property="og:url" content="{{ .Permalink | absURL }}" />
<meta property="og:image" content="{{ $img | absURL }}" />
<meta property="og:description" content="{{ $description }}" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@server-x-101">
<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:description" content="{{ $description }}">
<meta name="twitter:image" content="{{ $img | absURL }}">