{{ define "header" }}
{{ partial "topnav" }}
{{ end }}
{{ define "main" }}
<main class="prose dark:prose-invert container">

  <header class="text-left mb-8 mt-20 pl-4 inset-0">
    <h1 class="text-5xl mb-1 text-gray1" style="text-shadow: 0px 5px #692dca;">Articles</h1>

    <p class="my-0 text-gray3 pt-2">Explore diverse and insightful articles.</p>
  </header>

  <div class="mx-auto w-auto h-[2px] my-12 bg-gradient-to-r from-peach3 to-peach1 rounded-full"></div>

  
  <ul class="grid-list justify-items-center pl-0 ">
    {{ $paginator := .Paginate (where .Pages "Type" "articles") 12 }}
    
    {{ range $paginator.Pages }}
    {{ if not .Params.hidden }}
    <li class="list-none p-0">
      {{ partial "card" (dict "context" .) }}
    </li>
    {{ end }}
    {{ end }}
  </ul>
  
  <div class="h-6"></div>
  <div class="text-sm sm:text-base md:text-lg lg:text-lg">
    {{ template "_internal/pagination.html" . }}
  </div>

</main>
{{ end }}

{{ define "footer" }}
{{ partial "footer" }}
{{ end }}