.tableOfContents {
  @apply hidden md:block sticky w-96 top-8 ml-4 mb-auto px-3 pb-2 pt-0;

  nav {
    ul {
      li {
        ul {
          @apply ml-1;

          a {
            @apply text-gray4 text-sm font-normal hover:text-peach1 duration-300;
          }
        }

        a {
          @apply text-gray3 hover:text-gray2 duration-300;
        }
      }
    }
  }
}

.chapterSidebar {
  @apply md:block sticky w-96 top-8 ml-4 mb-auto px-3 pb-2 pt-0;

  nav {
    ul {
      li {
        ul {
          @apply ml-1;

          a {
            @apply text-gray4 text-sm font-normal hover:text-peach1 duration-300;
          }
        }

        a {
          @apply text-gray3 hover:text-gray2 duration-300;
        }
      }
    }
  }
}

.lesson-content {
  h2 {
    @apply text-white inline-block my-6 border-b-2 border-dashed border-gray6 ;
  }
  h3 {
    @apply text-gray3 font-sans font-bold my-3;
  }

  ol,
  ul {
    @apply font-light text-lg;
  }

  p {
    @apply text-base;
  }

  em,
  strong {
    @apply font-bold text-lg;
  }

  p a {
    @apply text-blue-500 no-underline hover:text-peach1 duration-200;
  }

  li a, a {
    @apply text-blue-500 no-underline hover:text-peach1 duration-200;
  }

  figure {
    @apply bg-black bg-opacity-30;
    figcaption {
      @apply text-center m-0 p-2;
    }
  }
  table { 
    @apply w-auto max-w-full overflow-hidden shadow border-gray5 text-base;
    border: 1px solid #454e56;
    border-collapse: separate;
    border-left: 0;
    border-radius: 4px;
    border-spacing: 0px;
  }
  thead {
      display: table-header-group;
      vertical-align: middle;
      border-color: inherit;
      border-collapse: separate;
      background-color: #283255;
  }
  tr {
      display: table-row;
      vertical-align: inherit;
      border-color: inherit;
  }
  th, td {
      @apply p-3;
      // padding: 5px 4px 6px 4px; 
      text-align: left;
      vertical-align: top;
      border-left: 1px solid #454e56;    
  }
  td {
      border-top: 1px solid #454e56;    
  }
  thead:first-child tr:first-child th:first-child, tbody:first-child tr:first-child td:first-child {
      border-radius: 4px 0 0 0;
  }
  thead:last-child tr:last-child th:first-child, tbody:last-child tr:last-child td:first-child {
      border-radius: 0 0 0 4px;
  }

}

.drop-cap:first-letter {
  float: left;
  font-size: 4rem;
  line-height: 0.5em;
  padding-right: 0.1em;
  font-family: 'Style Script', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

