@import './mixins.scss';

code {
  direction: ltr;
}

div.highlight,
pre {
  position: relative;
}

.copy-code:hover {
  background: #1a2328;
}

div.highlight:hover .copy-code,
pre:hover .copy-code {
  display: block;
}

.copy-code {
  @apply text-sm text-gray1 top-1 right-1 absolute m-1 border border-gray6 border-opacity-90 rounded-lg mb-4;
  display: none;
  background: transparent;
  padding: 0px 5px;
  user-select: none;
  transition: width 1s ease;
  
}

.copy-code.copied {
  // display: block;
  @apply text-sm  text-green-500;
  display: none;
  transition: width 1s ease;
}

.copy-code.copied button {
  // display: block;
  @apply text-sm  text-green-500;
  transition: width 1s ease;
}


.copy-code img {
  margin: 2px;

}

.copied img {
  @apply pb-[1px];
  animation-name: pop;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); /* cubic bezier timing function for smoothness */
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.tabs {
  @apply flex flex-wrap relative;

  &.tabs-left {
    @apply justify-start;
  }

  &.tabs-right {
    @apply justify-end;
  }

  input.tab-input {
    @apply w-5 hidden mr-2;
  }

  .tab-label {
    @apply text-gray4 cursor-pointer inline-block order-1 px-2 pb-2 pt-[8.5px] relative top-2 select-none border border-transparent;
  }

  input.tab-input:checked + label.tab-label {
    @apply border-2 rounded-t-lg bg-gray7 text-gray4 border-gray5 border-b-0 z-40 mb-[4px] lg:mb-[6px] p-2 pr-4;
  }

  .tab-content {
    @apply hidden order-2 w-full m-0;
  }

}

.file-name {
    @apply inline-flex items-center p-2 pr-4 bg-gray7 bg-opacity-100 text-gray4 border-t-2 border-l-2 border-r-2 border-gray5 rounded-t-md z-40 relative bottom-[-2px] ;
  
    .file-icon {
      @apply w-5 block mr-2;
    }
  } 

  .highlight {
    pre {
      /* @apply whitespace-pre-wrap; */
      @apply rounded-tr-md rounded-b-md pt-8;
      
      span.cl {
        @apply pr-4;
      }
    }
  }

  .container {
    margin-top: 2rem;
  }
  
  .nav-tabs {
    margin-top: 2rem;
  }
  
  .tab-content {
    margin: 2rem 1rem 2rem 1rem;
  }

/* Background */ .bg {  }
/* PreWrapper */ .chroma { @apply bg-gray7 bg-opacity-100 text-gray2 rounded-none mt-0 font-code text-base overflow-x-auto drop-shadow-lg border-2 border-gray5; @include scrollbar; }
/* Other */ .chroma .x {  }
/* Error */ .chroma .err {  }
/* CodeLine */ .chroma .cl {  }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
/* LineHighlight */ .chroma .hl { @apply bg-gray6; }
/* LineNumbersTable */ .chroma .lnt { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ .chroma .ln { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Line */ .chroma .line { @apply flex; }
/* Keyword */ .chroma .k { @apply text-purple-400; }
/* KeywordConstant */ .chroma .kc { @apply text-purple-400; }
/* KeywordDeclaration */ .chroma .kd { @apply text-blue-400 italic;  }
/* KeywordNamespace */ .chroma .kn { @apply text-purple-400; }
/* KeywordPseudo */ .chroma .kp { @apply text-purple-400; }
/* KeywordReserved */ .chroma .kr { @apply text-purple-400; }
/* KeywordType */ .chroma .kt { @apply text-blue-400; }
/* Name */ .chroma .n {  }
/* NameAttribute */ .chroma .na { @apply text-orange-300; }
/* NameBuiltin */ .chroma .nb { @apply text-blue-400 italic;  }
/* NameBuiltinPseudo */ .chroma .bp {  }
/* NameClass */ .chroma .nc { @apply text-orange-300; }
/* NameConstant */ .chroma .no {  }
/* NameDecorator */ .chroma .nd {  }
/* NameEntity */ .chroma .ni {  }
/* NameException */ .chroma .ne {  }
/* NameFunction */ .chroma .nf { @apply text-orange-300; }
/* NameFunctionMagic */ .chroma .fm {  }
/* NameLabel */ .chroma .nl { @apply text-blue-400 italic;  }
/* NameNamespace */ .chroma .nn {  }
/* NameOther */ .chroma .nx {  }
/* NameProperty */ .chroma .py {  }
/* NameTag */ .chroma .nt { @apply text-red-400; }
/* NameVariable */ .chroma .nv { @apply text-blue-400 italic;  }
/* NameVariableClass */ .chroma .vc { @apply text-blue-400 italic;  }
/* NameVariableGlobal */ .chroma .vg { @apply text-blue-400 italic;  }
/* NameVariableInstance */ .chroma .vi { @apply text-blue-400 italic;  }
/* NameVariableMagic */ .chroma .vm {  }
/* Literal */ .chroma .l {  }
/* LiteralDate */ .chroma .ld {  }
/* LiteralString */ .chroma .s { @apply text-green-400; }
/* LiteralStringAffix */ .chroma .sa { @apply text-green-400; }
/* LiteralStringBacktick */ .chroma .sb { @apply text-green-400; }
/* LiteralStringChar */ .chroma .sc { @apply text-green-400; }
/* LiteralStringDelimiter */ .chroma .dl { @apply text-green-400; }
/* LiteralStringDoc */ .chroma .sd { @apply text-green-400; }
/* LiteralStringDouble */ .chroma .s2 { @apply text-green-400; }
/* LiteralStringEscape */ .chroma .se { @apply text-green-400; }
/* LiteralStringHeredoc */ .chroma .sh { @apply text-green-400; }
/* LiteralStringInterpol */ .chroma .si { @apply text-green-400; }
/* LiteralStringOther */ .chroma .sx { @apply text-green-400; }
/* LiteralStringRegex */ .chroma .sr { @apply text-green-400; }
/* LiteralStringSingle */ .chroma .s1 { @apply text-green-400; }
/* LiteralStringSymbol */ .chroma .ss { @apply text-green-400; }
/* LiteralNumber */ .chroma .m { @apply text-purple-500; }
/* LiteralNumberBin */ .chroma .mb { @apply text-purple-500; }
/* LiteralNumberFloat */ .chroma .mf { @apply text-purple-500; }
/* LiteralNumberHex */ .chroma .mh { @apply text-purple-500; }
/* LiteralNumberInteger */ .chroma .mi { @apply text-purple-500; }
/* LiteralNumberIntegerLong */ .chroma .il { @apply text-purple-500; }
/* LiteralNumberOct */ .chroma .mo { @apply text-purple-500; }
/* Operator */ .chroma .o { @apply text-purple-400; }
/* OperatorWord */ .chroma .ow { @apply text-purple-400; }
/* Punctuation */ .chroma .p {  }
/* Comment */ .chroma .c { @apply text-gray4; }
/* CommentHashbang */ .chroma .ch { @apply text-gray4; }
/* CommentMultiline */ .chroma .cm { @apply text-gray4; }
/* CommentSingle */ .chroma .c1 { @apply text-gray4; }
/* CommentSpecial */ .chroma .cs { @apply text-gray4; }
/* CommentPreproc */ .chroma .cp { @apply text-purple-400; }
/* CommentPreprocFile */ .chroma .cpf { @apply text-purple-400; }
/* Generic */ .chroma .g {  }
/* GenericDeleted */ .chroma .gd { @apply text-red-500; }
/* GenericEmph */ .chroma .ge { @apply underline; }
/* GenericError */ .chroma .gr {  }
/* GenericHeading */ .chroma .gh { @apply font-bold; }
/* GenericInserted */ .chroma .gi { @apply text-orange-300 font-bold; }
/* GenericOutput */ .chroma .go { @apply text-gray6; }
/* GenericPrompt */ .chroma .gp {  }
/* GenericStrong */ .chroma .gs {  }
/* GenericSubheading */ .chroma .gu { @apply font-bold; }
/* GenericTraceback */ .chroma .gt {  }
/* GenericUnderline */ .chroma .gl { @apply underline; }
/* TextWhitespace */ .chroma .w {  }
